
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Forms</title>
        <meta name="description" content="">
        <meta name="author" content="ink, cookbook, recipes">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <!-- Place favicon.ico and apple-touch-icon(s) here  -->
        <link rel="shortcut icon" href="../img/favicon.ico">
        <link rel="apple-touch-icon" href="../img/touch-icon-iphone.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../img/touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../img/touch-icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../img/touch-icon-ipad-retina.png">
        <link rel="apple-touch-startup-image" href="../img/splash.320x460.png" media="screen and (min-device-width: 200px) and (max-device-width: 320px) and (orientation:portrait)">
        <link rel="apple-touch-startup-image" href="../img/splash.768x1004.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
        <link rel="apple-touch-startup-image" href="../img/splash.1024x748.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">

        <!-- load Ink's CSS -->
        <link rel="stylesheet" type="text/css" href="../css/ink-flex.min.css">
        <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">

        <!-- load Ink's CSS for IE8 -->
        <!--[if lt IE 9 ]>
            <link rel="stylesheet" href="../css/ink-ie.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <![endif]-->

        <!-- test browser flexbox support and load legacy grid if unsupported -->
        <script type="text/javascript" src="../js/modernizr.js"></script>
        <script type="text/javascript">
            Modernizr.load({
              test: Modernizr.flexbox,
              nope : '../css/ink-legacy.min.css'
            });
        </script>

        <!-- load Ink's javascript files -->
        <script type="text/javascript" src="static/ink-3.1.10/js/holder.js"></script>
        <script type="text/javascript" src="static/ink-3.1.10/js/ink-all.min.js"></script>
        <script type="text/javascript" src="static/ink-3.1.10/js/autoload.js"></script>


        <style type="text/css">

            body {
                background: #ededed;
            }
            header {
                padding: 2em 0;
                margin-bottom: 2em;
            }
            header h1 {
                font-size: 2em;
            }
            header h1 small:before  {
                content: "|";
                margin: 0 0.5em;
                font-size: 1.6em;
            }
            footer {
                background: #ccc;
            }

        </style>

    </head>



<body>
 
	<div class="column-group gutters">

		<form action=""  method="post" role="form" class="ink-form all-100">
			{{ form.csrf }}
			<fieldset>
				<div class="control-group required column-group gutters">
					<label for="first-name" class="all-50 align-right">Name</label>
					<div class="control all-100">
						<input type="text" id="first-name">
						<p class="tip">First Name</p>
					</div>
					<div class="control all-40">
						<input type="text" id="last-name">
						<p class="tip">Last Name</p>
					</div>
				</div>

				<div class="control-group required column-group gutters">
					<label for="email" class="all-20 align-right">Email</label>
					<div class="control all-80">
						<input type="text" id="email">
					</div>
				</div>

				<div class="control-group column-group gutters">
					<label for="area" class="all-20 align-right">Description</label>
					<div  class="control all-90">
						<textarea id="area" rows="12"></textarea>
					</div>
				</div>

			</fieldset>
		</form>








<div class="container">
 
 
  <h2>Command Editor</h2>
  <form  action="" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">

      <label for="ID">Name:</label>
		<div class="row">
			  <input type="text" class="form-control" id="ID" name="ID" placeholder="id" value ={{ selectedCommand["id"] }} >
			  <br>
			  <input type="textarea" class="form-control" id="header" name="header" placeholder="header" value ={{ selectedCommand["header"] }} >
			  <br>
			  <input type="textarea" class="form-control" id="command" name="command" placeholder="command" rows="4" value ={{ selectedCommand["command"] }} >
			  <br>
			  <input type="textarea" class="form-control" id="source" name="source" placeholder="source" value ={{ selectedCommand["source"] }} >
			  <br>
			  <input type="textarea" class="form-control" id="tags" name="tags" placeholder="tags" rows="4" value ={{ selectedCommand["tags"] }} >
 		</div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
  </form>
 
 
<br>
<br>

</div>
<div class="container-fluid">
	{% for c in commands %}
		<ul class "list-group">
			<a href ="/?command= {{ c["id"] }} " class="list-group-item active"> {{ c["id"] }} </a>
			<li class="list-group-item"> {{ c["header"] }} </li>
			<li class="list-group-item"> {{ c["command"] }} </li>
			<li class="list-group-item"> {{ c["tags"] }} </li>
		</ul>
	{% endfor %}

</div>

</body>
</html>
